<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!--  Start Common Part 
  -->
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_DEV;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_DEV;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ServiceURL" value="http://localhost/schdlapi/" />
    <add key="LogsFolder" value="Logs" />
    <add key="LogFileNameTemplate" value="SchedulerService-{0}.log" />
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins" />
    <add key="ServiceSessionToken" value="6DFDAE31-D0CE-45BE-8D10-1078619C45D1" />
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://localhost/schdlapi/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <!--  End Common Part   -->
    <add key="ImporterJobUrl" value="http://localhost/srcapi/ForceRunImport/5/B7C87E3D-C102-446B-B8F8-B1F638F736CE" />
    <add key="SanitizerJobUrl" value="http://localhost/techutilapi/Sanitize/A7076271-2CC0-4CDA-9697-3EBB527BF878" />
    <add key="SchedulerInterval" value="10" />
  </appSettings>
</configuration>