<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!--  Start Common Part   -->
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ImportUpdateCheckIntervalHours" value="1" />
    <add key="ServiceURL" value="http://darkmindfx.com/api/scheduler/" />
    <add key="LogsFolder" value="Logs" />
    <add key="LogFileNameTemplate" value="SchedulerService-{0}.log" />
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins" />
    <add key="ServiceSessionToken" value="6DFDAE31-D0CE-45BE-8D10-1078619C45D1" />
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://darkmindfx.com/api/scheduler/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <!--  End Common Part  -->
    <add key="SchedulerDal" value="JSON" />
    <add key="SchedulerDalParams" value="RootFolder=SchedulerJobs;" />
    <add key="SchedulerInterval" value="10" />
    <add key="ServicesHost" value="http://www.darkmindfx.com" />

  </appSettings>
</configuration>