<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Start Common Part -->
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30"/>
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30"/>
    <add key="ImportUpdateCheckIntervalHours" value="1"/>
    <add key="ServiceURL" value="http://www.darkmindfx.com/schdlapi/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="SchedulerService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="ServiceSessionToken" value="6DFDAE31-D0CE-45BE-8D10-1078619C45D1"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://www.darkmindfx.com/schdlapi/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <!-- End Common Part -->

    <add key="ImporterJobUrl" value="http://www.darkmindfx.com/srcapi/ForceRunImport/2/B7C87E3D-C102-446B-B8F8-B1F638F736CE" />
    <add key="SchedulerInterval" value="3600" />
  </appSettings>
</configuration>