<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
    -->
  </system.webServer>
  <appSettings>
    <!-- Common Start -->
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_DEV;User Id=darkmind_AccountsServ;Password = DMFXUserAccountsServ2017;"/>
    <add key="ServiceURL" value="http://localhost/api/accounts/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="AccountsService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://localhost/api/accounts/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <add key="ServiceSessionToken" value="CCDEE5A4-5C8C-4EDC-84C6-CCCF31428383"/>
    <!-- Common End -->

    <add key="MailServiceSessionToken" value="50D9C5E6-C320-4F89-8161-E259E2EA0075"/>
    <add key="SessionExpiresMins" value="1" />
  </appSettings>
</configuration>