<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Common Start -->
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_PROD;User Id=darkmind_AccountsServ;Password = DMFXUserAccountsServ2017;"/>
    <add key="ServiceURL" value="http://www.darkmindfx.com/acntsapi/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="AccountsService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://www.darkmindfx.com/acntsapi/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <add key="ServiceSessionToken" value="CCDEE5A4-5C8C-4EDC-84C6-CCCF31428383"/>
    <!-- Common End -->

    <add key="MailServiceURL" value="http://www.darkmindfx.com/mailapi/" />
    <add key="MailServiceSessionToken" value="50D9C5E6-C320-4F89-8161-E259E2EA0075"/>
  </appSettings>
</configuration>