<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpAddress"  value="smtpout.europe.secureserver.net" />
    <add key="Port"         value="25" />
    <add key="EnableSsl"    value="false" />
    <add key="SenderAddress"    value="contact@darkmindfx.com" />
    <add key="SenderPwd"    value="DarkMindFx2016" />
    <add key="SenderTitle"  value="[No-Reply] DarkMindFx" />
    <add key="AddressTo"    value="eugene.ryzhov@gmail.com" />
    <add key="Subject"      value="Test email" />
    <add key="Body"         value="Test email sent on {0}" />
  </appSettings>
</configuration>