<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountKey" value="DC43D270C3BCC2FF88E9FC9081C256D7B2A7B308" />
    <add key="MailServiceURL" value="http://localhost/mailapi/" />
    <add key="MailServiceSessionToken" value="50D9C5E6-C320-4F89-8161-E259E2EA0075"/>
    
    <add key="SmtpAddress"  value="smtpout.europe.secureserver.net" />
    <add key="Port"         value="25" />
    <add key="EnableSsl"    value="false" />
    <add key="SenderAddress"    value="contact@darkmindfx.com" />
    <add key="SenderPwd"    value="DarkMindFx2016" />
    <add key="SenderTitle"  value="[No-Reply] DarkMindFx" />
    <add key="AddressTo"    value="eugene.ryzhov@gmail.com" />
    <add key="Subject"      value="Test email" />
    <add key="Body"         value="Test email sent on {0}" />

    <!-- message types  -->
    <add key="TypeAccountCreatedConfirmation" value="AccountCreatedConfirmation" />

    <!-- connection strings -->
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_DEV;User Id=darkmind_FilingsServ;Password = DMFXFilings2017;"/>
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_DEV;User Id=darkmind_AccountsServ;Password = DMFXUserAccountsServ2017;"/>
  </appSettings>
</configuration>