<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>      
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />     
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Common Part Start -->
    <add key="ConnectionStringFilings"  value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_FilingsServ;Password = DMFXFilings2017;"/>
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_PROD;User Id=darkmind_FilingsServ;Password = DMFXFilings2017;"/>
    <add key="ServiceURL" value="http://www.darkmindfx.com/api/filings/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="FilingsService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="ServiceSessionToken" value="B5147C01-2CCD-4E17-8FC1-2DFE4D264070"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://www.darkmindfx.com/api/filings/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <!-- Common End Start -->
  </appSettings>
</configuration>