<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SECCode" value="SEC"/>
    <add key="SEC_AAPL_CODE" value="AAPL"/>
    <add key="SEC_MMM_CODE" value="MMM"/>    
    
    <add key="STOOQ_COUNTRY" value="US" />
    <add key="STOOQ_TICKER_SPY" value="SPY" />
    <add key="STOOQ_TICKER_INVALID" value="#INVALID_TICKER#" />

    <add key="CFTC_COUNTRY" value="US" />
    <add key="CFTC_TICKER_COT_FINFUT" value="COT.FinFut.90741" />
    <add key="CFTC_TICKER_COT_FINFUTPOT" value="COT.FinFutOpt.90741" />
    <add key="CFTC_TICKER_COT_CMDTSFUT" value="COT.CmdtsFut.1602" />
    <add key="CFTC_TICKER_COT_CMDTSFUTPOT" value="COT.CmdtsFutOpt.1602" />
    <add key="CFTC_TICKER_INVALID" value="#INVALID_TICKER#" />

    <add key="BLS_COUNTRY" value="US" />
    <add key="BLS_TICKER_CPI_NSA" value="BLS.CPI.CUUR0000SA0" />
    <add key="BLS_TICKER_CPI_MEDICAL" value="BLS.CPI.CUUR0000SAM" />
    <add key="BLS_TICKER_INVALID" value="#INVALID_TICKER#" />
  </appSettings>
</configuration>