<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      -->
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Common Start -->
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAlerts_DEV;User Id=darkmind_AlertsServ;Password = DMFXUserAlertsServ2017;"/>
    <add key="ServiceURL" value="http://localhost/api/alerts/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="AlertsService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://localhost/api/alerts/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <add key="ServiceSessionToken" value="451A193D-0B75-4269-BCFA-DFA74B2ACB0E"/>
    <!-- Common End -->    
  </appSettings>
</configuration>