<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="File_SEC_AAPL_10-Q_2017Q2" value="SEC\10-Q\AAPL\aapl-20170701.xml"/>
    <add key="File_SEC_TSLA_10-Q_2017Q2" value="SEC\10-Q\TSLA\tsla-20170630.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
