<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Time interval to laucnh data import job -->
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30"/>
    <add key="ServiceURL" value="http://www.darkmindfx.com/api/techutils/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="TechUtilsService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="ServiceSessionToken" value="C87938EB-DF9F-4886-916B-5AB1F9039BC4"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://www.darkmindfx.com/api/techutils/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="60" />
    <add key="CanClearSTG" value="false" />
    <add key="CanSanitize" value="true" />
  </appSettings>
</configuration>