<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="2600000"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Time interval to laucnh data import job -->
    <add key="ConnectionStringFilings"  value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_DEV;User Id=darkmind_SourceServ;Password = DMFXImporter2017;"/>
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_DEV;User Id=darkmind_SourceServ;Password = DMFXImporter2017;"/>
    <add key="ImportUpdateCheckIntervalHours" value="1"/>
    <add key="ServiceURL" value="http://localhost/srcapi/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="SourcingService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="UpdateFromDate" value="2014/01/01" />
    <add key="MaxImportThreads" value="10" />
    <add key="StorageRootFolder" value="Storage" />
    <add key="StorageType" value="DiscStorage" />
    <add key="ServiceSessionToken" value="B7C87E3D-C102-446B-B8F8-B1F638F736CE"/>
    <add key="KeepAlive" value="false" />
  </appSettings>
</configuration>