<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountKey" value="DC43D270C3BCC2FF88E9FC9081C256D7B2A7ABCD12" />
    <add key="InvalidSessionToken" value="#InvalidSessionToken#" />
    <add key="AccountsServiceURL" value="http://localhost/api/accounts/" />
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_DEV;User Id=darkmind_AccountsServ;Password = DMFXUserAccountsServ2017;"/>
  </appSettings>
</configuration>