<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringAlerts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAlerts_DEV;User Id=darkmind_AlertsServ;Password=DMFXUserAlertsServ2017;" />
    <add key="AccountKey" value="5109BF8F9B094CBA99A06A415BCFBEA2" />
    <add key="InvalidAccountKey" value="##INVALID_ACCOUNT_KEY##" />
  </appSettings>
</configuration>