<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringAlerts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAlerts_DEV;User Id=darkmind_AlertsServ;Password=DMFXUserAlertsServ2017;" />
    <add key="AccountKey" value="5109BF8F9B094CBA99A06A415BCFBEA2" />
    <add key="InvalidAccountKey" value="##INVALID_ACCOUNT_KEY##" />
    
    <add key="TestSubscriptionName" value="Test Subscription 01" />
    <add key="NotificatioType_Id_CustomUrl" value="1" />
    <add key="NotificatioType_Id_Email" value="2" />
    <add key="NotificatioType_Id_RestService" value="3" />

    <add key="Status_Id_Enabled" value="1" />
    <add key="Status_Id_Disabled" value="2" />
    
    <add key="Alert_Id_10K" value="1" />
    <add key="Alert_Id_10Q" value="2" />
    <add key="Alert_Id_Form4" value="3" />
  </appSettings>
</configuration>