<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CSVDalRootFolder" value="CSVData"/>

    <add key="CountryUS" value="US"/>
    <add key="TickerSPY" value="SPY"/>
    <add key="TickerQQQ" value="QQQ"/>
    <add key="TickerGLD" value="GLD"/>
    <add key="TickerSLV" value="SLV"/>
    <add key="TickerTLT" value="TLT"/>
    
    <add key="PeriodEnd" value="2019/02/01" />
    <add key="PeriodStart" value="2006/04/01" />
    
    <add key="InvalidTicker" value="##INVALID_TICKER##"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
