<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="DMFX.InfraStartup-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="..\Plugins" />

    <add key="SchedulerStartUrl" value="http://localhost/schdlapi/StartScheduler/6DFDAE31-D0CE-45BE-8D10-1078619C45D1" />
  </appSettings>
</configuration>