<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <customErrors mode="Off"/>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
   
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ServiceURL" value="http://darkmindfx.com/api/mail/" />
    <add key="LogsFolder" value="Logs" />
    <add key="LogFileNameTemplate" value="MailService-{0}.log" />
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins" />
    <add key="ServiceSessionToken" value="50D9C5E6-C320-4F89-8161-E259E2EA0075" />
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://darkmindfx.com/api/mail/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    
    <add key="SmtpAddress" value="webmail.darkmindfx.com" />
    <add key="Port" value="25" />
    <add key="EnableSsl" value="false" />
    <add key="SenderAddress" value="noreply@darkmindfx.com" />
    <add key="SenderPwd" value="DarkMindFx2016" />
    <add key="SenderTitle" value="DarkMindFX No-Reply" />
  </appSettings>
</configuration>