<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>

  <system.web>
    <trust level="Full"/>
    <compilation debug="false" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Common Part Start -->
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30"/>
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30"/>
    <add key="ServiceURL" value="http://www.darkmindfx.com/mailapi/"/>
    <add key="LogsFolder" value="Logs"/>
    <add key="LogFileNameTemplate" value="MailService-{0}.log"/>
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins"/>
    <add key="ServiceSessionToken" value="50D9C5E6-C320-4F89-8161-E259E2EA0075"/>
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://www.darkmindfx.com/mailapi/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <!-- Common Part End -->
    <add key="SmtpAddress"  value="relay-hosting.secureserver.net" />
    <add key="Port"         value="25" />
    <add key="EnableSsl"    value="false" />
    <add key="SenderAddress"    value="noreply@darkmindfx.com" />
    <add key="SenderPwd"    value="DarkMindFx2016" />
    <add key="SenderTitle"  value="DarkMindFX No-Reply" />
  </appSettings>
</configuration>