<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PeriodStart" value="2014/01/01" />
    <add key="PeriodEnd" value="2020/01/01" />
    <add key="ImportPeriodDays" value="31" />
    <add key="StatePollPeriodSeconds" value="60" />
    <add key="SanitizePeriodMinutes" value="180" />
    <add key="Regulator" value="SEC" />
    <add key="Symbols" value="RFX,LEH,FCAU,CIT,MFGLQ,CLE,SHLDQ,BONTQ,IHRT,REXX,WFTIQ,PHIIQ,PCG,HEXION,KONA,INSY,FRED,DEST,DF,CLDP,CGIP,NIHD,WLT,RSH,DRLCQ,CZR,SD,BTU,LINE,ZINC,ARCH,AROPQ,FOURQ,SZYM,HGG,EZRHY,CMLS,CIE,AVYA,TNGNQ,SOYO,SCOX,ROSG,MNC,HLYW" />
    <add key="Types" value="" />
    <add key="FilingsSourcingServiceToken" value="B7C87E3D-C102-446B-B8F8-B1F638F736CE" />
    <add key="TechUtilsServiceToken" value="C87938EB-DF9F-4886-916B-5AB1F9039BC4" />
  </appSettings>
</configuration>
