<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxUrlLength="5000"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Common Start -->
    <add key="ConnectionStringTimeSeries" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXQuotes_DEV;User Id=darkmind_QuotesServ;Password = DMFXUserQuotesServ2017;" />
    <add key="ServiceURL" value="http://localhost/api/srctimeseries/" />
    <add key="LogsFolder" value="Logs" />
    <add key="LogFileNameTemplate" value="QuotesSourcingService-{0}.log" />
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins" />
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://localhost/api/srctimeseries/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <add key="ServiceSessionToken" value="DA6FBF63-E7B2-4EFF-80B3-0F6CCF526832" />
    <!--  Common End  -->
    <add key="UpdateFromDate" value="2001/01/01" />
    <add key="DALType" value="MSSQL" />
    <add key="DefaultCountry" value="US" />
  </appSettings>
</configuration>