<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountKey" value="DC43D270C3BCC2FF88E9FC9081C256D7B2A7B308" />
    <add key="FilingsServiceURL" value="http://localhost/flngsapi/" />
    <add key="AccountsServiceURL" value="http://localhost/acntsapi/" />
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_DEV;User Id=darkmind_FilingsServ;Password = DMFXFilings2017;"/>
    <add key="ConnectionStringAccounts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAccounts_DEV;User Id=darkmind_AccountsServ;Password = DMFXUserAccountsServ2017;"/>
  </appSettings>
</configuration>