<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CSVDalRootFolder" value="CSVData"/>
    <add key="ConnectionStringMSSQLQuotes" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXQuotes_DEV;User Id=darkmind_QuotesServ;Password = DMFXUserQuotesServ2017;" />
  
    <add key="CountryUS" value="US"/>
    <add key="TickerSPY" value="SPY"/>
    <add key="TickerQQQ" value="QQQ"/>
    <add key="InvalidTicker" value="##INVALID_TICKER##"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
