<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SenderName" value="Sender-WSDFRTG" />
    <add key="ProcessorName" value="Processor-WSDFRTG" />
    <add key="ChannelName" value="Channel-POLKMNH" />
    <add key="ConnectionStringMsgBus" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXMsgBus_DEV;User Id=darkmind_MsgBusServ;Password=DMFXMsgBusServ2017;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>