<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!--  Common Start   -->
    <add key="ConnectionStringTimeSeries" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXQuotes_PROD;User Id=darkmind_QuotesServ;Password = DMFXUserQuotesServ2017;" />
    <add key="ServiceURL" value="http://www.darkmindfx.com/quotesapi/" />
    <add key="LogsFolder" value="Logs" />
    <add key="LogFileNameTemplate" value="QuotesService-{0}.log" />
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins" />
    <add key="QuotesDalType" value="MSSQL" />
    <add key="CSVDalRootFolder" value="Storage" />
    <add key="DefaultCountry" value="US" />
    <add key="DefaultPeriodStart" value="1995/1/1" />
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://www.darkmindfx.com/quotesapi/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="120" />
    <add key="ServiceSessionToken" value="B1200889-B347-4BB8-A802-BD86B960DDB9" />
    <!--  Common End   -->
  </appSettings>
</configuration>