<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringMsgBus" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXMsgBus_DEV;User Id=darkmind_MsgBusServ;Password=DMFXMsgBusServ2017;" />
    
    <add key="SenderName" value="TestSenderSrv-QAZXSWP" />
    <add key="ReceiverName" value="TestReceiverSrv-EDCVFRL" />
    <add key="ChannelName" value="TestChannel-TGBNHYM" />
    <add key="TestMessageType" value="TestMessageType" />
    <add key="TestMessagePayload" value="TestMessagePayload" />
    
  </appSettings>    
</configuration>