<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ConnectionStringFilings" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXFilings_PROD;User Id=darkmind_SourceServ;Password = DMFXImporter2017;Connection Timeout=30" />
    <add key="ImportUpdateCheckIntervalHours" value="1" />
    <add key="ServiceURL" value="http://darkmindfx.com/api/srcfilings/" />
    <add key="LogsFolder" value="Logs" />
    <add key="LogFileNameTemplate" value="SourcingService-{0}.log" />
    <add key="LoggerType" value="FileLogger" />
    <add key="PluginsFolder" value="Plugins" />
    <add key="UpdateFromDate" value="2009/01/01" />
    <add key="MaxImportThreads" value="3" />
    <add key="StorageRootFolder" value="Storage" />
    <add key="StorageType" value="" />
    <add key="ServiceSessionToken" value="B7C87E3D-C102-446B-B8F8-B1F638F736CE" />
    <add key="KeepAlive" value="true" />
    <add key="KeepAliveURL" value="http://darkmindfx.com/api/srcfilings/Echo/KeepAlive/{0}" />
    <add key="KeepAliveInterval" value="60" />
    <add key="LoadFromStorage" value="false" />
  </appSettings>
</configuration>