<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountKey" value="5109BF8F9B094CBA99A06A415BCFBEA2" />
    <add key="SessionToken" value="451A193D-0B75-4269-BCFA-DFA74B2ACB0E" />
    <add key="InvalidSessionToken" value="#InvalidSessionToken#" />
    <add key="AlertsServiceURL" value="http://localhost/api/alerts/" />
    <add key="ConnectionStringAlerts" value="Server=mi3-wsq2.a2hosting.com;Database=darkmind_DMFXAlerts_DEV;User Id=darkmind_AlertsServ;Password = DMFXUserAlertsServ2017;"/>
  </appSettings>
</configuration>